{extend name="common/layout" /}

{block name="content"}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{:url('set')}" data-toggle="tooltip" title="新增" class="btn btn-primary"> <i class="fa fa-plus"></i>
                </a>
                <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger" onclick="confirm('确认？') ? $('#form-index').submit() : false;">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
            <h1>角色管理</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="{:url('site/index')}">首页</a>
                </li>
                <li>
                    <a href="{:url('index')}">角色管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-list"></i>
                    角色列表
                </h3>
            </div>
            <div class="panel-body">
                <form action="{:url('index')}" method="get">
                    <div class="well">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="input-filter_title">角色</label>
                                    <input type="text" name="filter_title" value="{$filter['filter_title']|default=''}" placeholder="角色" id="input-filter_title" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="input-filter_description">描述</label>
                                    <input type="text" name="filter_description" value="{$filter['filter_description']|default=''}" placeholder="描述" id="input-filter_description" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="input-filter_is_super">是否为超管</label>
                                    <input type="text" name="filter_is_super" value="{$filter['filter_is_super']|default=''}" placeholder="是否为超管" id="input-filter_is_super" class="form-control" />
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <button type="submit" id="button-filter" class="btn btn-primary pull-right">
                                    <i class="fa fa-search"></i>
                                    筛选
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <form action="{:url('multi')}" method="post" id="form-index">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td style="width: 1px;" class="text-center">
                                    <input type="checkbox" onclick="$('input[name=\'selected[]\']').prop('checked', this.checked);" />
                                </td>
                                <td class="text-center">
                                    <a href="{:urlOrder('index', $filter, $order, 'title')}" class="{:classOrder($order, 'title')}">角色</a>
                                </td>
                                <td class="text-center">
                                    <a href="{:urlOrder('index', $filter, $order, 'description')}" class="{:classOrder($order, 'description')}">描述</a>
                                </td>
                                <td class="text-center">
                                    <a href="{:urlOrder('index', $filter, $order, 'is_super')}" class="{:classOrder($order, 'is_super')}">是否为超管</a>
                                </td>
                                <td class="text-center">
                                    <a href="{:urlOrder('index', $filter, $order, 'sort')}" class="{:classOrder($order, 'sort')}">排序</a>
                                </td>

                                <td class="text-right">管理</td>
                            </tr>
                            </thead>
                            <tbody>
                            {if condition="$paginater->total() > 0"}
                            {foreach $paginater as $row}
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" name="selected[]" value="{$row['id']}" />
                                </td>
                                <td class="text-left">{$row['title']}</td>
                                <td class="text-left">{$row['description']}</td>
                                <td class="text-left">{$row['is_super']}</td>
                                <td class="text-left">{$row['sort']}</td>

                                <td class="text-right">
                                    <a href="{:url('set', ['id'=>$row['id']])}" data-toggle="tooltip" title="编辑" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="{:url('setAction', ['id'=>$row['id']])}" data-toggle="tooltip" title="授权" class="btn btn-success {if condition="$row['is_super']=='1'"}disabled{/if}">
                                        <i class="fa fa-key"></i>
                                    </a>
                                </td>
                            </tr>
                            {/foreach}
                            {else/}
                            <tr>
                                <td class="text-center" colspan="6">
                                    无记录
                                </td>
                            </tr>
                            {/if}

                            </tbody>
                        </table>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-6 text-left">
                        {$paginater->render()}
                    </div>
                    <div class="col-sm-6 text-right">显示开始 {$start} 到 {$end} 之 {$paginater->total()} （总 {$paginater->lastPage()} 页）</div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}